@model IEnumerable<baitaplonPTPMQL.Models.TenXe>

@{
    ViewData["Title"] = "Index";
}

<h1>Thông tin tên xe</h1>

<p>
    <a asp-action="Create">Create New</a><br>
    <a asp-action="Upload">Upload Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
             
             <th>
                @Html.DisplayNameFor(model => model.XeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenXe_BienSo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.XeID)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TenXe_BienSo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.XeID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.XeID">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.XeID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
