@model baitaplonPTPMQL.Models.ChuyenXe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChuyenXe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChuyenXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChuyenXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemDi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemDi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemDen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiXe.MaTaiXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BangGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BangGia.GiaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaChuyenXe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
