@model baitaplonPTPMQL.Models.NhanVien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhanVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMND)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMND)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNhanVien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
