@model IEnumerable<baitaplonPTPMQL.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Bảng Thông tin Nhân viên</h1>

<p>
    <a asp-action="Create">Thêm mới</a><br>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMND)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh.TenGioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNhanVien">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhanVien">Xem </a> |
                <a asp-action="Delete" asp-route-id="@item.MaNhanVien">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
