@model baitaplonPTPMQL.Models.VeXe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VeXe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenXe.XeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.MaNhanVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.MaKhachHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaVe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
