@model IEnumerable<baitaplonPTPMQL.Models.BangGia>

@{
    ViewData["Title"] = "Index";
}

<h1>Bảng giá</h1>

<p>
    <a asp-action="Create">Create New</a><br>
    <a asp-action="Upload">Upload File</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaVe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GiaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaVe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GiaID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.GiaID">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.GiaID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
